{:kotoba.app/id "cloud.itonami.isic-6491", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibg7xmpbnileixsr62udqndscaddgovs2qvfdgzsl3fmcjdcnkpnq", :kotoba.app/embed-url "ipfs://bafkreibg7xmpbnileixsr62udqndscaddgovs2qvfdgzsl3fmcjdcnkpnq", :published {:archive "https://kotobase.net/ipfs/bafkreibg7xmpbnileixsr62udqndscaddgovs2qvfdgzsl3fmcjdcnkpnq", :size 78529, :put-status 201, :get-status 200, :at "2026-08-15T13:33:34.003Z"}}
